

  <link rel="stylesheet" href="~/Content/mapStyle.css"/>

  <div id="map-canvas"></div>

  <script 
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEBJUK6YsccYEXnT_S2PU8PN5zXxkc4Fs">
  </script>

  <script src="~/Scripts/mapScript.js"></script>>




