@*@model GesNaturaMVC.ViewModels.PercursoVM*@
@model GesNaturaMVC.ViewModels.EstatisticaVM
@{
    ViewBag.Title = "Dados";
}

<h3>Dados Estatísticos</h3>


<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="customDiv">
                <div>
                    <h4>Lista de percursos criados</h4>
                    @*@foreach (var item in Model.)
                        {

                            if (item.UserName == User.Identity.Name.ToString())
                            {
                                <p>

                                    @Html.ActionLink(item.Nome, "Details", "Percursos", new { Id = item.ID }, null)

                                </p>

                            }

                            <div class="clearfix"></div>
                        }*@

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Percursos Percorridos</h4>

            <table>

                @foreach (var item in Model.ListaPercurosPercorridosVM)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)

                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ID)

                            </td>*@
                    </tr>



                }
            </table>


            <p></p>
        </div>
        <div class="col-md-4">
            <h4>Dados stats</h4>

        </div>
    </div>
</div>
@*<script>
        var class = 0;
        function maiorClass(class) {

        }
    </script>*@

