@model IEnumerable<GesNaturaMVC.ViewModels.PercursoVM>
@{
    ViewBag.Title = "Dados";
}

<h3>Dados Estatísticos</h3>


<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="customDiv">
                <div>
                    <h4>Lista de percursos criados</h4>
                    @foreach (var item in Model)
                    {

                        if (item.UserName == User.Identity.Name.ToString())
                        {
                            <p>
                                @*@Html.DisplayFor(modelItem => item.Nome)*@
                                @Html.ActionLink(item.Nome, "Details", "Percursos", new { Id = item.ID }, null)
                                
                            </p>

                        }
                        
                        <div class="clearfix"></div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Comentários</h4>
            <p>Percurso melhor classificado</p>
            <p></p>
        </div>
        <div class="col-md-4">
            <h4>Dados stats</h4>
        </div>
    </div>
</div>
@*<script>
    var class = 0;
    function maiorClass(class) {

    }
</script>*@

